.contactus-section {
  padding: 100px 0px;

  &_header {
    text-align: center;
    h2 {
      color: var(--neutral-n-100, #24272e);
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
    }

    p {
      margin-top: 27px;
      color: var(--neutral-n-60, #7c7d82);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      margin-left: 320px;
      margin-right: 320px;
    }
  }

  &_form {
    padding: 20px 300px;

    h5 {
      color: #24272e;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    input {
      padding: 10px 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      outline: none;
      background: transparent;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.1);
    }

    .email {
      input {
        padding: 10px;
        width: 548px;
      }
    }

    textarea {
      width: 548px;
      padding: 10px 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      outline: none;
      background: transparent;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    .button {
      text-align: center;

      button {
        padding: 10px 25px;
        margin-right: 10px;
        margin-bottom: 10px;
        outline: none;
        border: none;
        font-weight: 600;
        transition: all 0.5s ease;
        background: transparent;
        border-radius: 4px;
        border: 1px solid var(--secondary-teal, #1d6fa3);

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  @media screen and (max-width: 790px) {
    .contactus-section_form {
      padding: 10px 10px;

      .firstname {
        margin-right: 10px;
      }

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
      }
    }

    .contactus-section_header {
      p {
        margin: 0;
      }
    }
  }
}
